#navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: gray;
}

#navbar.a {
  color: white;
}

#welcome-section {
  height: 100vh;
}

.body {
  position: relative;
  top: 0px;
}

@media only screen and (min-width: 768px) {
  background-color: gray;
}